body{
    padding: 3%;
    background-color: rgb(92, 92, 92);
}

div{

}

.image-container{
    height: 220px;
    position: relative;
}
.meu-nome{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#foto-perfil{
    float: left;
    padding: 10px;
    height: 200px;
    width: 160px;
    background-color: rgba(28, 58, 194, 0.87);
}
#sobre-mim{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: 35%;
    left: 30.5%
}

ul li:nth-child(odd) {
    background-color: rgba(28, 58, 194, 0.87);
}